@import "./../../../styles/variables";

.action-panel {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    color: var(--secondary-text-color);
    border-top: 1px solid var(--border-color);
}

.category {
    margin: 10px;
    color: var(--secondary-text-color);
    &:hover {
        cursor: pointer;
        color: var(--text-hover-color);
    }
    &-active {
        color: $primary-color;
        &:hover {
            color: $primary-color;
        }
    }
}

.clear-completed:hover {
    cursor: pointer;
    color: var(--text-hover-color);
}
